@font-face {
  font-family: "Adventure";
  src: url("../files/Adventure.woff2") format("woff2");
  font-style: "normal";
  font-weight: 400;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button,
input {
  background: transparent;
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #f8f8f8;
}
section {
  &:not(.hero) {
    padding: 100px 0;
  }
}
.container {
  max-width: 1360px - 80px;
  padding: 0px 12px;
  margin: 0 auto;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .container {
    border-bottom: 1px solid #d08f8a;
  }
}
.header__flex {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.header__logo {
  margin-right: auto;
}
.header__menu {
  ul {
    display: flex;
    align-items: center;
    li {
      &:hover {
        a {
          &:after {
            width: 100%;
          }
        }
      }
      &:not(:last-child) {
        margin-right: 32px;
      }
      a {
        color: #ffffff;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        position: relative;
        &:after {
          content: " ";
          position: absolute;
          left: 0;
          bottom: -10px;
          width: 0;
          height: 1px;
          background-color: white;
          transition: all 0.3s linear;
        }
      }
    }
  }
}
.header__menu-black {
  ul {
    display: flex;
    align-items: center;
    li {
      &:hover {
        a {
          &:after {
            width: 100%;
          }
        }
      }
      &:not(:last-child) {
        margin-right: 32px;
      }
      a {
        color: #333333;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        position: relative;
        &:after {
          content: " ";
          position: absolute;
          left: 0;
          bottom: -10px;
          width: 0;
          height: 1px;
          background-color: #d08f8a;
          transition: all 0.3s linear;
        }
      }
    }
  }
}
.header__quize {
  margin-left: 32px;
  padding: 15px 24px;
  border: 1px solid #d08f8a;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #d08f8a;
}
.hero {
  background: url(@img/hero.png) center/cover no-repeat;
  padding: 300px 0;
}
.hero__content {
  max-width: 700px;
  margin-left: auto;
  h1 {
    font-weight: 500;
    font-size: 52px;
    line-height: 63px;
    color: #ffffff;
  }
  span {
    color: #d08f8a;
  }
  p {
    max-width: 440px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    margin: 16px 0 48px 0;
    span {
      color: #d08f8a;
    }
  }
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #d08f8a;
  border: 1px solid #d08f8a;
  text-align: center;
  padding: 17px 70px;
  display: inline-block;
}
.btn-primary {
  color: #ffffff;
  background: #d08f8a;
}
.hero__btn {
  .btn-primary {
    margin-right: 24px;
  }
}
.advice {
  background: #d08f8a;
  padding: 55px 120px;
  max-width: 1060px;
  margin: 0 auto;
  position: relative;
  h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #ffffff;
  }
  &:after {
    content: " ";
    position: absolute;
    border: 1px solid #d0b86f;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(20px, -30px);
  }
  &::before {
    content: " ";
    position: absolute;
    border: 1px solid #d0b86f;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-30px, 20px);
  }
}

.section__title {
  margin-bottom: 60px;
  h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #333333;
  }
}
.detail__flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.detail__item {
  max-width: 300px;
  flex: 1 1 100%;
  border: 1px solid #d0b86f;
  padding: 16px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail__img {
  max-width: 270px;
  overflow: hidden;
  margin-bottom: 16px;
  img {
    width: 100%;
    height: 140px;
    object-fit: cover;
  }
  h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 29px;
    color: #333333;
    margin-top: 16px;
  }
}
.detail__content {
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #333333;
    opacity: 0.8;
    border-bottom: 1px solid #d0b86f;
    padding-bottom: 12px;
  }
  span {
    display: block;
    padding-top: 12px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
  }
}
.home__user {
  display: flex;
  flex-direction: column;
  padding: 180px 36px 48px;
  background: white;
  align-items: center;
  justify-content: center;
  position: relative;
  .user__img {
    position: "absolute";
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 253px;
    height: 253px;
    border-radius: 50%;
    img {
      overflow: hidden;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:after {
      content: " ";
      border-radius: 50%;
      position: absolute;
      border: 1px solid #d0b86f;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate(-30px, 20px);
    }
  }
  .user__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1060px;
    justify-content: center;
    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #333333;
      margin-bottom: 30px;
    }
    span {
      font-family: "Adventure";
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 32px;
      text-align: center;
      background: linear-gradient(149.28deg, #d0b86f 14.34%, #bd9436 84.38%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      margin-bottom: 30px;
    }
  }
}
.about__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about__item {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__img {
  position: relative;
  margin-bottom: 32px;
  &:after {
    position: absolute;
    content: "";
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background: #d08f8a;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(15px, 15px);
  }
}
.about__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #333333;
    margin-bottom: 16px;
  }
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #333333;
  }
}
.portfolio {
  background: radial-gradient(
    93.02% 157.6% at 84.76% 20.13%,
    #958079 0%,
    #655750 35.96%,
    #2f2423 100%
  );
  position: relative;
  &:after {
    position: absolute;
    content: " ";
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 100px;
    height: 40px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 40px) rotate(180deg);
    background-color: #514440;
  }
}
.portfolio__img {
  max-width: 600px;
  position: relative;
  &:after {
    content: " ";
    position: absolute;
    border: 1px solid #d0b86f;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(20px, -30px);
  }
}
.portfolio__flex {
  display: flex;
  flex-wrap: wrap;
}
.portfolio__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 64px;
  .portfolio__video {
    position: relative;
    &:after {
      content: " ";
      position: absolute;
      border: 1px solid #d0b86f;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate(20px, 30px);
    }
  }
}
.portfolio__info {
  max-width: 600px;
  &:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul {
    max-width: 460px;
    margin-left: 60px;
    h5 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;
      color: #ffffff;
      margin-bottom: 20px;
    }
    li {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #ffffff;
      position: relative;
      padding-left: 20px;
      &:after {
        content: " ";
        border-radius: 50%;
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: white;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
  h4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 63px;
    color: #ffffff;
  }
  span {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 24px;
    font-family: "Adventure";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    background: linear-gradient(149.28deg, #d0b86f 14.34%, #bd9436 84.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
  }
}
.portfoli__info-label {
  max-width: 30%;
  display: inline-block;
}
.portfoli__info-label {
  margin-top: 16px;
  span {
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    padding-top: 10px;
  }
}

.sertefikat__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio__flex {
  .section__title {
    margin-bottom: 0;
    margin-top: 60px;
    width: 100%;
    h2 {
      width: 100%;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;
      text-align: center;
      color: #ffffff;
    }
  }
}

.sertefikat__slide {
  cursor: pointer;
}
.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1060px;
  margin: 0 auto;
  h4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 24px;
  }
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #333333;
    margin-bottom: 32px;
  }
  span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #333333;
    margin-top: 32px;
  }
}
.comment {
  h2 {
    font-family: "Adventure";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    background: linear-gradient(149.28deg, #d0b86f 14.34%, #bd9436 84.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #d08f8a;
    height: 20px;
    width: 10px;
    top: 35px !important;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px !important;
  }
}
.comment__flex {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.comment__item {
  display: flex;
  background: #ffffff;
  padding: 32px;
}
.comment__img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-right: 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.comment__text {
  max-width: 227px;
  h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    border-bottom: 1px solid #d0b86f;
    padding-bottom: 12px;
    margin-bottom: 12px;
    display: inline-block;
  }
  p {
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    opacity: 0.8;
    a {
      color: #d08f8a;
    }
  }
}
.action {
  background: radial-gradient(
    93.02% 157.6% at 84.76% 20.13%,
    #958079 0%,
    #655750 35.96%,
    #2f2423 100%
  );
}
.btn-gold {
  background: linear-gradient(149.28deg, #d0b86f 14.34%, #bd9436 84.38%);
  color: white;
  border: none;
}
.action__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    font-family: "Adventure";
    font-style: normal;
    font-weight: 400;
    font-size: 240px;
    background: linear-gradient(149.28deg, #d0b86f 14.34%, #bd9436 84.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  p {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 54px;
  }
}
.footer {
  padding-top: 63px;
  padding-bottom: 18px;
  background: radial-gradient(
    93.02% 157.6% at 84.76% 20.13%,
    #958079 0%,
    #655750 35.96%,
    #2f2423 100%
  );
}
.footer__logo {
  margin-bottom: 24px;
}
.footer__item {
  p {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
  ul {
    li {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
      a {
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
      }
    }
  }
}
.footer__top {
  display: flex;
  justify-content: space-between;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    width: 32px;
    height: 32px;
    margin-top: 24px;
    &:not(:last-child) {
      margin-right: 15px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.footer__bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    align-items: center;
    li {
      &:not(:last-child) {
        margin-right: 15px;
      }
      a {
        font-size: 12px;
        line-height: 15px;
        color: #ffffff;
        opacity: 0.6;
      }
    }
  }
  span {
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    opacity: 0.6;
  }
}
.blog {
  padding-top: 150px !important;
}
.blog__main-img {
  position: relative;
  max-width: 700px;
  &::after {
    content: " ";
    position: absolute;
    border: 1px solid #d0b86f;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-20px, 30px);
  }
}
.blog__main-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__main-detail {
  max-width: 440px;
  h1 {
    font-weight: 500;
    font-size: 28px;
    line-height: 140%;
    color: #333333;
  }
  p {
    font-size: 14px;
    line-height: 28px;
    color: #333333;
    margin-top: 16px;
    margin-bottom: 50px;
  }
  span {
    background: rgba(208, 143, 138, 0.16);
    padding: 4px 16px;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    color: #d08f8a;
    margin-bottom: 48px;
  }
}
.blog-popular {
  background: #d08f8a;
}
.popular {
  .swiper-button-next,
  .swiper-button-prev {
    color: white;
    height: 20px;
    width: 10px;
    top: 35px !important;
  }
  .swiper-button-prev {
    left: 30% !important;
  }
  .swiper-button-next {
    right: 30% !important;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px !important;
  }
  h3 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
  }
  .swiper-wrapper {
    padding-top: 50px;
  }
}
.popular__slide {
  padding: 16px;
  border: 1px solid #ffffff;
}
.popular__info {
  p {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
  }
}
.blog__flex {
  display: flex;
  justify-content: space-between;
  aside {
    max-width: 300px;
    label {
      display: flex;
      align-items: center;
      border: 1px solid rgba(51, 51, 51, 0.24);
      padding: 10px 15px;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        cursor: pointer;
      }
    }
  }
}
.blog__list {
  max-width: 945px;
  flex: 1 1 100%;
}
.blog__categoty {
  margin-top: 30px;
  ul {
    li {
      margin-bottom: 30px;
      a {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
      }
    }
  }
}
.blog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog__item {
  position: relative;
  display: inline-block;
  max-width: 47%;
  flex: 1 1 100%;
  padding: 16px;
  border: 1px solid #d0b86f;
  margin-bottom: 60px;
  span {
    background: rgba(208, 143, 138, 0.6);
    padding: 4px 16px;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    color: white;
    margin-bottom: 48px;
    position: absolute;
    top: 25px;
    left: 25px;
  }
}
.blog__detail {
  h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #333333;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333333;
  }
}
.blog__img {
  margin-bottom: 16px;
  img {
    width: 100%;
    height: 100%;
  }
}
.pagination {
  width: 100%;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      margin: 0 40px;
    }
    li {
      padding: 5px 12px;
      margin-right: 5px;
      a {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #33333358;
      }
      &.active {
        border: 1px solid #d0b86f;
        a {
          color: #d0b86f;
        }
      }
    }
  }
}
.post__banner {
  min-height: 560px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.post {
  padding-top: 170px !important;
}
.post__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
  margin: 30px auto 60px auto;
  h2 {
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
  }
  span {
    background: rgba(208, 143, 138, 0.16);
    padding: 4px 16px;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    color: #d08f8a;
    margin-bottom: 30px;
  }
}
.post__main {
  display: flex;
  justify-content: space-between;
}
.post__aside {
  max-width: 500px;
  flex: 1 1 100%;
  h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #333333;
    margin-bottom: 24px;
  }
  img {
    margin-bottom: 20px;
  }
}
.post__content {
  max-width: 720px;
  flex: 1 1 100%;
  border-bottom: 1px solid #d08f8a;
  padding-bottom: 25px;
}
.post__stati {
  h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #333333;
    margin-bottom: 30px;
  }
}
.stati__info {
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
  }
}
.stati__img {
  max-width: 210px;
  max-height: 113px;
  flex: 1 1 100%;
  margin-right: 15px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.stati__item {
  display: flex;
  align-items: center;
  padding: 16px;
  border: 1px solid #d0b86f;
  margin-bottom: 40px;
}
.relatiwe {
  padding-top: 0px !important;
  .blog__list {
    max-width: 100%;
    .blog__item {
      max-width: 33%;
    }
  }
}
.post__navigation {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn {
    display: flex;
    align-items: center;
    &:first-child {
      img {
        margin-right: 10px;
      }
    }
    &:last-child {
      img {
        margin-left: 10px;
      }
    }
  }
}
.mailing__flex {
  background: #d08f8a;
  padding: 64px;
  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin-top: 25px;
  }
  form {
    display: flex;
    h4 {
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
      color: #ffffff;
      max-width: 600px;
    }
    .form__container {
      max-width: 520px;
      flex: 1 1 100%;
      margin-left: 15px;
      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #ffffff;
        margin-bottom: 10px;
        display: inline-block;
      }
      input {
        border: 1px solid rgba(255, 255, 255, 0.24);
        color: #ffffff;
        padding: 10px 15px;
        width: 100%;
        &::placeholder {
          color: #ffffff;
        }
      }
      label {
        display: flex;
        button {
          background: #ffffff;
          padding: 15px 24px;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #d08f8a;
          margin-left: 25px;
          cursor: pointer;
        }
      }
    }
  }
}
